**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis


- Include your team's hypothesis
- Ensure that this hypothesis is clear to readers
- Explain why you think this will be the outcome (what was your thinking?)

What is your main hypothesis/predictions about what the answer to your question is? Briefly explain your thinking. (2-3 sentences)

Setup

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 1.9 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 549 kB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 12.9 MB/s eta 0:00:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 756 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/qingtongzou/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/qingtongzou/Library/Python/3.9/lib/python/site-packages (1.26.4)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [34]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 3.1 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## Dataset #1 (use name instead of number here)

In [14]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
male_basketball_bio = pd.read_csv('data/athlete_bio/male_basketball_rosters.csv')
male_soccer_bio = pd.read_csv('data/athlete_bio/male_soccer_rosters.csv')
male_volleyball_bio = pd.read_csv('data/athlete_bio/male_volleyball_rosters.csv')
male_waterpolo_bio = pd.read_csv('data/athlete_bio/male_waterpolo_rosters.csv')
female_basketball_bio = pd.read_csv('data/athlete_bio/female_basketball_rosters.csv')
female_soccer_bio = pd.read_csv('data/athlete_bio/female_soccer_rosters.csv')
female_volleyball_bio = pd.read_csv('data/athlete_bio/female_volleyball_rosters.csv')
female_waterpolo_bio = pd.read_csv('data/athlete_bio/female_waterpolo_rosters.csv')

In [18]:
male_basketball_bio.head()
female_basketball_bio.head()

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,1,McElroy Colin,GK,6-5,NaN,NaN,Sr.,"Solana Beach, CA / Torrey Pines HS"
1,2005,1,Bryan Corbett,GK,6-2,NaN,NaN,Sr.,"Carmichael, CA / Rio Americano HS"
2,2005,1,David Miller,GK,6-0,NaN,NaN,Sr.,"Ventura, CA / Ventura HS"
3,2005,1,Jeremy Randall,GK,6-3,NaN,NaN,Jr.,"Lake Forest, CA / El Toro HS"
4,2005,2,Chris Finegold,2M,6-6,NaN,NaN,Sr.,"Palo Alto, CA / Palo Alto HS"

In [23]:
male_basketball_bio['Sport'] = 'Basketball'
male_soccer_bio['Sport'] = 'Soccer'
male_volleyball_bio['Sport'] = 'Volleyball'
male_waterpolo_bio['Sport'] = 'Water Polo'
female_basketball_bio['Sport'] = 'Basketball'
female_soccer_bio['Sport'] = 'Soccer'
female_volleyball_bio['Sport'] = 'Volleyball'
female_waterpolo_bio['Sport'] = 'Water Polo'

Put all datasets of male athelets bio into one

In [29]:
male_athelet_df = pd.concat([male_basketball_bio, male_soccer_bio, male_volleyball_bio, male_waterpolo_bio], axis=0)
male_athelet_df.shape[0]
male_basketball_bio.shape[0] + male_soccer_bio.shape[0] + male_volleyball_bio.shape[0] + male_waterpolo_bio.shape[0]
male_athelet_df['Sport'].unique()

array(['Basketball', 'Soccer', 'Volleyball', 'Water Polo'], dtype=object)

Put all datasets of female atheletes bio into one

In [30]:
female_athelet_df = pd.concat([female_basketball_bio, female_soccer_bio, female_volleyball_bio, female_waterpolo_bio], axis=0)
female_athelet_df.shape[0]
female_basketball_bio.shape[0] + female_soccer_bio.shape[0] + female_volleyball_bio.shape[0] + female_waterpolo_bio.shape[0]
female_athelet_df['Sport'].unique()

array(['Basketball', 'Soccer', 'Volleyball', 'Water Polo'], dtype=object)

## Dataset #2 (if you have more than one, use name instead of number here)

In [37]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
male_basketball_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2023 Men's Basketball.xlsx")
male_basketball_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2022 Men's Basketball.xlsx")
male_basketball_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2021 Men's Basketball.xlsx")
male_basketball_performance_2020 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2020 Men's Basketball.xlsx")
male_basketball_performance_2019 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2019 Men's Basketball.xlsx")
male_basketball_performance_2018 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2018 Men's Basketball.xlsx")
male_basketball_performance_2017 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2017 Men's Basketball.xlsx")
male_basketball_performance_2016 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2016 Men's Basketball.xlsx")

,Overall Record: 19-9 Conf: 13-3 Home: 13-1 Away: 6-7 Neutral: 0-1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,#,Player,NaN,GP-GS,MIN,NaN,AVG,NaN,FG FG-FGA,NaN,...,NaN,AVG,PF,DQ,A,TO,BLK,STL,PTS,AVG
1,4,"Pope, Bryce",NaN,28-28,991,NaN,35.4,NaN,181-431,NaN,...,111,4,29,0,48,34,4,27,508,18.1
2,13,"McGhie, Tyler",NaN,18-0,507,NaN,28.2,NaN,92-206,NaN,...,48,2.7,21,1,23,6,2,10,251,13.9
3,12,"Tait-Jones, Aniwaniwa",NaN,28-28,825,NaN,29.5,NaN,129-229,NaN,...,163,5.8,60,1,91,54,10,30,374,13.4
4,35,"Nwaokorie, Francis",NaN,28-28,878,NaN,31.4,NaN,106-234,NaN,...,143,5.1,77,3,23,39,21,19,323,11.5

In [42]:
male_basketball_performance_2023['Sport'] = 'Basketball'
male_basketball_performance_2022['Sport'] = 'Basketball'
male_basketball_performance_2021['Sport'] = 'Basketball'
male_basketball_performance_2020['Sport'] = 'Basketball'
male_basketball_performance_2019['Sport'] = 'Basketball'
male_basketball_performance_2018['Sport'] = 'Basketball'
male_basketball_performance_2017['Sport'] = 'Basketball'
male_basketball_performance_2016['Sport'] = 'Basketball'
male_basketball_performance_2023['Year'] = 2023
male_basketball_performance_2022['Year'] = 2022
male_basketball_performance_2021['Year'] = 2021
male_basketball_performance_2020['Year'] = 2020
male_basketball_performance_2019['Year'] = 2019
male_basketball_performance_2018['Year'] = 2018
male_basketball_performance_2017['Year'] = 2017
male_basketball_performance_2016['Year'] = 2016
male_basketball_performance = pd.concat([male_basketball_performance_2023, male_basketball_performance_2022, male_basketball_performance_2021, male_basketball_performance_2020, male_basketball_performance_2019, male_basketball_performance_2018, male_basketball_performance_2017, male_basketball_performance_2016], axis=0)
male_basketball_performance.columns

Index(['Overall Record: 19-9   Conf: 13-3   Home: 13-1   Away: 6-7   Neutral: 0-1',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Sport', 'Year',
       'Overall Record: 10-20   Conf: 5-13   Home: 4-10   Away: 6-9   Neutral: 0-1',
       '2021-2022 UC San Diego Men's Basketball\nOverall Statistics (as of Mar 5, 2022)',
       '2020-2021 UC San Diego Men's Basketball\nOverall Statistics (as of Mar 11, 2021)',
       'Overall Record: 30-1   Conf: 21-1   Home: 14-1   Away: 14-0   Neutral: 2-0',
       'Unnamed: 29',
       'Overall Record: 26-8   Conf: 17-5   Home: 14-1   Away: 7-6   Neutral: 5-1',
       'Unnamed: 30', 'Unnamed: 31',
       'Overall Record: 21-11   Conf: 15-7   Home: 8-4   Away: 11-4   Neutral: 2-3',
       'Overall Record: 27-6   Conf: 17-3   Home: 15-3   Away: 9-3   Neutral: 3-0'],
      dtype='object')

In [43]:
male_soccer_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2023 Men's Soccer.xlsx")
male_soccer_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2022 Men's Soccer.xlsx")
male_soccer_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2021 Men's Soccer.xlsx")
male_soccer_performance_2019 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2019 Men's Soccer.xlsx")
male_soccer_performance_2018 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2018 Men's Soccer.xlsx")
male_soccer_performance_2017 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2017 Men's Soccer.xlsx")
male_soccer_performance_2015 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2015 Men's Soccer.xlsx")
male_soccer_performance_2013 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2013 Men's Soccer.xlsx")

In [45]:
male_soccer_performance_2023['Sport'] = 'Soccer'
male_soccer_performance_2022['Sport'] = 'Soccer'
male_soccer_performance_2021['Sport'] = 'Soccer'
male_soccer_performance_2019['Sport'] = 'Soccer'
male_soccer_performance_2018['Sport'] = 'Soccer'
male_soccer_performance_2017['Sport'] = 'Soccer'
male_soccer_performance_2015['Sport'] = 'Soccer'
male_soccer_performance_2013['Sport'] = 'Soccer'
male_soccer_performance_2023['Year'] = 2023
male_soccer_performance_2022['Year'] = 2022
male_soccer_performance_2021['Year'] = 2021
male_soccer_performance_2019['Year'] = 2019
male_soccer_performance_2018['Year'] = 2018
male_soccer_performance_2017['Year'] = 2017
male_soccer_performance_2015['Year'] = 2015
male_soccer_performance_2013['Year'] = 2013
male_soccer_performance = pd.concat([male_soccer_performance_2023, male_soccer_performance_2022,male_soccer_performance_2021,male_soccer_performance_2019,male_soccer_performance_2018,male_soccer_performance_2017,male_soccer_performance_2015,male_soccer_performance_2013], axis=0)
male_soccer_performance.shape[0]

534

In [53]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
male_volleyball_performance_2024 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2024 Men's Volleyball.xlsx")
male_volleyball_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2023 Men's Volleyball.xlsx")
male_volleyball_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2022 Men's Volleyball.xlsx")
male_volleyball_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2021 Men's Volleyball.xlsx")
male_volleyball_performance_2020 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2020 Men's Volleyball.xlsx")
male_volleyball_performance_2019 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2019 Men's Volleyball.xlsx")
male_volleyball_performance_2018 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2018 Men's Volleyball.xlsx")
male_volleyball_performance_2017 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2017 Men's Volleyball.xlsx")

In [54]:
male_volleyball_performance_2024['Sport'] = 'Volleyball'
male_volleyball_performance_2023['Sport'] = 'Volleyball'
male_volleyball_performance_2022['Sport'] = 'Volleyball'
male_volleyball_performance_2021['Sport'] = 'Volleyball'
male_volleyball_performance_2020['Sport'] = 'Volleyball'
male_volleyball_performance_2019['Sport'] = 'Volleyball'
male_volleyball_performance_2018['Sport'] = 'Volleyball'
male_volleyball_performance_2017['Sport'] = 'Volleyball'
male_volleyball_performance_2024['Year'] = 2024
male_volleyball_performance_2023['Year'] = 2023
male_volleyball_performance_2022['Year'] = 2022
male_volleyball_performance_2021['Year'] = 2021
male_volleyball_performance_2020['Year'] = 2020
male_volleyball_performance_2019['Year'] = 2019
male_volleyball_performance_2018['Year'] = 2018
male_volleyball_performance_2017['Year'] = 2017
male_volleyball_performance = pd.concat([male_volleyball_performance_2024,male_volleyball_performance_2023,male_volleyball_performance_2022,male_volleyball_performance_2021,male_volleyball_performance_2020,male_volleyball_performance_2019,male_volleyball_performance_2018,male_volleyball_performance_2017], axis=0)
male_volleyball_performance.shape[0]

515

In [55]:
male_waterpolo_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s WaterPolo/2023 Men's Water Polo.xlsx")
male_waterpolo_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s WaterPolo/2022 Men's Water Polo.xlsx")
male_waterpolo_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s WaterPolo/2021 Men's Water Polo.xlsx")

In [57]:
male_waterpolo_performance_2023['Sport'] = 'Water Polo'
male_waterpolo_performance_2022['Sport'] = 'Water Polo'
male_waterpolo_performance_2021['Sport'] = 'Water Polo'
male_waterpolo_performance_2023['Year'] = 2023
male_waterpolo_performance_2022['Year'] = 2022
male_waterpolo_performance_2021['Year'] = 2021
male_waterpolo_performance = pd.concat([male_waterpolo_performance_2023,male_waterpolo_performance_2022,male_waterpolo_performance_2021], axis=0)
male_basketball_performance.shape[0]

702

In [60]:
female_basketball_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2023 Women_s Basketball.xlsx")
female_basketball_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2022 Women_s Basketball.xlsx")
female_basketball_performance_2021 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2021 Women_s Basketball.xlsx")
female_basketball_performance_2020 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2020 Women_s Basketball.xlsx")
female_basketball_performance_2019 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2019 Women_s Basketball.xlsx")
female_basketball_performance_2018 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2018 Women_s Basketball.xlsx")
female_basketball_performance_2017 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2017 Women_s Basketball.xlsx")
female_basketball_performance_2016 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2016 Women_s Basketball.xlsx")
female_basketball_performance_2015 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2015 Women_s Basketball.xlsx")
female_basketball_performance_2014 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2014 Women_s Basketball.xlsx")
female_basketball_performance_2013 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2013 Women's Basketball.xlsx")
female_basketball_performance_2012 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2012 Women's Basketball.xlsx")
female_basketball_performance_2011 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2011 Women's Basketball.xlsx")
female_basketball_performance_2010 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2010 Women's Basketball.xlsx")

In [61]:
female_basketball_performance_2023['Sport'] = 'Basketball'
female_basketball_performance_2022['Sport'] = 'Basketball'
female_basketball_performance_2021['Sport'] = 'Basketball'
female_basketball_performance_2020['Sport'] = 'Basketball'
female_basketball_performance_2019['Sport'] = 'Basketball'
female_basketball_performance_2018['Sport'] = 'Basketball'
female_basketball_performance_2017['Sport'] = 'Basketball'
female_basketball_performance_2016['Sport'] = 'Basketball'
female_basketball_performance_2015['Sport'] = 'Basketball'
female_basketball_performance_2014['Sport'] = 'Basketball'
female_basketball_performance_2013['Sport'] = 'Basketball'
female_basketball_performance_2012['Sport'] = 'Basketball'
female_basketball_performance_2011['Sport'] = 'Basketball'
female_basketball_performance_2010['Sport'] = 'Basketball'
female_basketball_performance_2023['Year'] = 2023
female_basketball_performance_2022['Year'] = 2022
female_basketball_performance_2021['Year'] = 2021
female_basketball_performance_2020['Year'] = 2020
female_basketball_performance_2019['Year'] = 2019
female_basketball_performance_2018['Year'] = 2018
female_basketball_performance_2017['Year'] = 2017
female_basketball_performance_2016['Year'] = 2016
female_basketball_performance_2015['Year'] = 2015
female_basketball_performance_2014['Year'] = 2014
female_basketball_performance_2013['Year'] = 2013
female_basketball_performance_2012['Year'] = 2012
female_basketball_performance_2011['Year'] = 2011
female_basketball_performance_2010['Year'] = 2010
female_basketball_performance = pd.concat([female_basketball_performance_2023,female_basketball_performance_2022,female_basketball_performance_2021,female_basketball_performance_2020,female_basketball_performance_2019,female_basketball_performance_2018,female_basketball_performance_2017,female_basketball_performance_2016,female_basketball_performance_2015,female_basketball_performance_2014,female_basketball_performance_2013,female_basketball_performance_2012,female_basketball_performance_2011,female_basketball_performance_2010], axis=0)
female_basketball_performance.shape[0]

1378

In [63]:
female_soccer_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2023 Women_s Soccer.xlsx")
female_soccer_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2022 Women_s Soccer.xlsx")
female_soccer_performance_2021 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2021 Women_s Soccer.xlsx")
female_soccer_performance_2019 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2019 Women_s Soccer.xlsx")
female_soccer_performance_2018 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2018 Women_s Soccer.xlsx")
female_soccer_performance_2017 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2017 Women_s Soccer.xlsx")
female_soccer_performance_2016 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2016 Women_s Soccer.xlsx")
female_soccer_performance_2015 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2015 Women_s Soccer.xlsx")
female_soccer_performance_2014 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2014 Women_s Soccer.xlsx")
female_soccer_performance_2013 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2013 Women's Soccer.xlsx")
female_soccer_performance_2012 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2012 Women's Soccer.xlsx")
female_soccer_performance_2011 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2011 Women's Soccer.xlsx")

In [64]:
female_soccer_performance_2023['Sport'] = 'Soccer'
female_soccer_performance_2022['Sport'] = 'Soccer'
female_soccer_performance_2021['Sport'] = 'Soccer'
female_soccer_performance_2019['Sport'] = 'Soccer'
female_soccer_performance_2018['Sport'] = 'Soccer'
female_soccer_performance_2017['Sport'] = 'Soccer'
female_soccer_performance_2016['Sport'] = 'Soccer'
female_soccer_performance_2015['Sport'] = 'Soccer'
female_soccer_performance_2014['Sport'] = 'Soccer'
female_soccer_performance_2013['Sport'] = 'Soccer'
female_soccer_performance_2012['Sport'] = 'Soccer'
female_soccer_performance_2011['Sport'] = 'Soccer'
female_soccer_performance_2023['Year'] = 2023
female_soccer_performance_2022['Year'] = 2022
female_soccer_performance_2021['Year'] = 2021
female_soccer_performance_2019['Year'] = 2019
female_soccer_performance_2018['Year'] = 2018
female_soccer_performance_2017['Year'] = 2017
female_soccer_performance_2016['Year'] = 2016
female_soccer_performance_2015['Year'] = 2015
female_soccer_performance_2014['Year'] = 2014
female_soccer_performance_2013['Year'] = 2013
female_soccer_performance_2012['Year'] = 2012
female_soccer_performance_2011['Year'] = 2011
female_soccer_performance = pd.concat([female_soccer_performance_2023,female_soccer_performance_2022,female_soccer_performance_2021,female_soccer_performance_2019,female_soccer_performance_2018,female_soccer_performance_2017,female_soccer_performance_2016,female_soccer_performance_2015,female_soccer_performance_2014,female_soccer_performance_2013,female_soccer_performance_2012,female_soccer_performance_2011], axis=0)
female_soccer_performance.shape[0]

838

In [65]:

female_volleyball_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2023 Women_s Volleyball.xlsx")
female_volleyball_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2022 Women_s Volleyball.xlsx")
female_volleyball_performance_2021 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2021 Women_s Volleyball.xlsx")
female_volleyball_performance_2019 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2019 Women_s Volleyball.xlsx")
female_volleyball_performance_2018 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2018 Women_s Volleyball.xlsx")
female_volleyball_performance_2017 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2017 Women_s Volleyball.xlsx")

In [66]:
female_volleyball_performance_2023['Sport'] = 'Volleyball'
female_volleyball_performance_2022['Sport'] = 'Volleyball'
female_volleyball_performance_2021['Sport'] = 'Volleyball'
female_volleyball_performance_2019['Sport'] = 'Volleyball'
female_volleyball_performance_2018['Sport'] = 'Volleyball'
female_volleyball_performance_2017['Sport'] = 'Volleyball'
female_volleyball_performance_2023['Year'] = 2023
female_volleyball_performance_2022['Year'] = 2022
female_volleyball_performance_2021['Year'] = 2021
female_volleyball_performance_2019['Year'] = 2019
female_volleyball_performance_2018['Year'] = 2018
female_volleyball_performance_2017['Year'] = 2017
female_volleyball_performance = pd.concat([female_volleyball_performance_2023,female_volleyball_performance_2022,female_volleyball_performance_2021,female_volleyball_performance_2019,female_volleyball_performance_2018,female_volleyball_performance_2017], axis=0)
female_volleyball_performance.shape[0]

415

In [67]:
female_waterpolo_performance_2024 = pd.read_excel("data/performance_data/excel/Women_s WaterPolo/2024 Women's Water Polo.xlsx")
female_waterpolo_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s WaterPolo/2023 Women's Water Polo.xlsx")
female_waterpolo_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s WaterPolo/2022 Women's Water Polo.xlsx")

In [ ]:
male_waterpolo_performance_2023['Sport'] = 'Water Polo'
male_waterpolo_performance_2022['Sport'] = 'Water Polo'
male_waterpolo_performance_2021['Sport'] = 'Water Polo'
male_waterpolo_performance_2023['Year'] = 2023
male_waterpolo_performance_2022['Year'] = 2022
male_waterpolo_performance_2021['Year'] = 2021
male_waterpolo_performance = pd.concat([male_waterpolo_performance_2023,male_waterpolo_performance_2022,male_waterpolo_performance_2021], axis=0)
male_basketball_performance.shape[0]

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |