**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Thadius Freebourn
- Yijun Luo
- Eve Nguyen
- Kiko Pan
- Qingtong Zou

# Research Question

What is the relationship between performance of student-athletes at UCSD as well as their academic interests (STEM vs non-STEM) and physical measurements (height/weight)? How do these relationships vary across genders?

## Background and Prior Work

Participating in extracurricular activities while balancing school can be challenging. Student-athletes generally have a busier schedule than most students. They have to juggle and coordinate their training schedules, assignment deadlines, class attendance, and more. We recognize that the academic workload on STEM majors is generally more extensive than non-STEM majors. Given this, we wanted to explore whether or not academic pursuits correlate with athletic performance. Specifically, we aim to investigate if there are differences in performance between STEM and non-STEM majors at UCSD given its heavy STEM influence.

In a study that investigates the relationship between athletic identity and the selection of academic majors among college student-athletes, they found that students who care more about sports generally choose a major with decreased academic rigor. Based on the findings from this study, we can assume that there is likely a positive correlation between athletic performance and non-STEM majors at UCSD. This correlation suggests that high-performing student-athletes might lean towards majors that offer more flexibility and less academic pressure. This allows them to manage their training and game schedules more effectively. Students who prioritize their sports success are more likely to choose a major that aligns and simply helps them meet the academic requirements. This assumption should be consistent across all genders.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1)

In addition, we wanted to study how athletes' physical measurements such as their height and weight affect their performance. In further research, we looked into gender differences in terms of physical variances. Men are generally considered more powerful and have more strength compared to women because they have larger muscle mass and lower body fat. Also, men are taller and have longer limbs compared to women. With all this considered, men have a physical advantage in sports where strength and height are used. Despite efforts to promote gender equality in sports, these biological differences continue to shape athletic outcomes. Given that men generally have greater physical strength, height, and muscle mass compared to women, it is reasonable to assume that these differences may influence athletic performance outcomes, especially in sports that heavily rely on strength and height.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2)

Expanding on prior research, our study intends to explore multifaceted connections between athletic performance, physical attributes (height/weight), and academic preferences among those participating in basketball, soccer, volleyball, and water polo. We aim to investigate how these variables interrelate with performance rates across genders at UCSD. By analyzing these relationships, we aim to identify which factors most strongly correlate with higher athletic performance among male and female student-athletes at UCSD.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Foster, S. J. L., & Huml, M. R. (2017). The Relationship Between Athletic Identity and Academic Major Chosen by Student-Athletes. International journal of exercise science, 10(6), 915–925. https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5685074/ 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Vealey, R. & Chase, M. (2016). Best Practice for Youth Sport. https://us.humankinetics.com/blogs/excerpt/reasons-for-gender-differences-in-youth-sport

# Hypothesis

Our team hypothesizes that at UCSD, student-athletes from non-STEM fields and those with advantageous physical measurements (notably greater height and weight) tend to show enhanced sports performance, irrespective of gender. This pattern is anticipated due to the lower academic workload associated with non-STEM disciplines, allowing for more intensive training, and the natural advantage provided by superior physical attributes in athletic activities. We expect these relationships to be consistent across both male and female athletes, suggesting that the impact of academic interests and physical measurements on sports performance does not vary significantly by gender.

Setup

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 1.9 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 549 kB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 12.9 MB/s eta 0:00:01
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.4-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 756 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/qingtongzou/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/qingtongzou/Library/Python/3.9/lib/python/site-packages (1.26.4)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [34]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 3.1 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np

# Data

## Data overview

Dataset #1: UCSD Women’s and Men’s Athletics - Bio
- UCSD Women’s Basketball
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/female_basketball_rosters.csv) 
  - 288 observations
  - 9 variables
- UCSD Women’s Soccer
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/female_soccer_rosters.csv) 
  - 512 observations
  - 9 variables
- UCSD Women’s Volleyball
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/female_volleyball_rosters.csv) 
  - 285 observations
  - 9 variables
- UCSD Women’s Water Polo
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/female_waterpolo_rosters.csv)
  - 361 observations
  - 9 variables
- UCSD Men’s Basketball
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/male_basketball_rosters.csv)
  - 294 observations
  - 9 variables
- UCSD Men’s Soccer
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/male_soccer_rosters.csv)
  - 492 observations
  - 9 variables
- UCSD Men’s Volleyball
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/male_volleyball_rosters.csv)
  - 304 observations
  - 9 variables
- UCSD Men’s Water Polo
  - [Link](https://github.com/COGS108/Group133_WI24/blob/master/data/athlete_bio/male_waterpolo_rosters.csv)
  - 472 observations
  - 9 variables

Dataset 1 contains biographical information (year, hometown/high school, major, etc) on UCSD women’s and men’s athletes, respectively. There is information on women’s basketball, soccer, volleyball, and water polo teams, while Dataset 2 contains information on men’s basketball, soccer, volleyball, and water polo teams. All of this data was web scraped from the UCSD athletics website and ranges from the years 2024 - 2005 or 2006, as available. For data wrangling, we will write functions to standardize height into centimeters, separate the “HomeTownHighSchool” column into two columns, transform the “Class” column to integers, and add a column indicating gender. Once this column is added, we can combine these two datasets together. The most important variable is, as our hypothesis is testing the correlation between major and performance.

Dataset #2: UCSD Women’s and Men’s Athletics - Performance Statistics
- UCSD Women’s Basketball
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Women_s%20Basketball)
  - 1377 observations
  - 23 variables
- UCSD Women’s Soccer
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Women_s%20Soccer)
  - 837 observations
  - 12 variables
- UCSD Women’s Volleyball
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Women_s%20Volleyball)
  - 414 observations
  - 23 variables
- UCSD Women’s Water Polo
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Women_s%20WaterPolo)
  - 204 observations
  - 13 variables
- UCSD Men’s Basketball
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Men_s%20Basketball/csv) 
  - 106 observations
  - 28 variables
- UCSD Men’s Soccer
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Men_s%20Soccer)
  - 184 observations
  - 15 variables
- UCSD Men’s Volleyball
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Men_s%20Volleyball)
  - 514 observations
  - 45 variables
- UCSD Men’s Water Polo
  - [Link](https://github.com/COGS108/Group133_WI24/tree/master/data/performance_data/excel/Men_s%20WaterPolo) 
  - 235 observations
  - 13 variables

Dataset 2 contains performance statistics on UCSD women’s basketball, soccer, volleyball, and water polo teams and men’s basketball, soccer, volleyball, and water polo teams. Each dataset contains the performance data for one sport for men or women. All of this data was web scraped from the UCSD athletics website and ranges from the years 2024 - 2014, as available. All of the integer variables that give the athletes’ statistics are important, as we will eventually combine these stats to determine a player’s overall performance, which will help us answer our research question. This overall performance score will allow us to combine the datasets and compare between athletes in different sports.

## Dataset #1: UCSD Women’s and Men’s Athletics - Bio

In [14]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
male_basketball_bio = pd.read_csv('data/athlete_bio/male_basketball_rosters.csv')
male_soccer_bio = pd.read_csv('data/athlete_bio/male_soccer_rosters.csv')
male_volleyball_bio = pd.read_csv('data/athlete_bio/male_volleyball_rosters.csv')
male_waterpolo_bio = pd.read_csv('data/athlete_bio/male_waterpolo_rosters.csv')
female_basketball_bio = pd.read_csv('data/athlete_bio/female_basketball_rosters.csv')
female_soccer_bio = pd.read_csv('data/athlete_bio/female_soccer_rosters.csv')
female_volleyball_bio = pd.read_csv('data/athlete_bio/female_volleyball_rosters.csv')
female_waterpolo_bio = pd.read_csv('data/athlete_bio/female_waterpolo_rosters.csv')

In [18]:
male_basketball_bio.head()
female_basketball_bio.head()

,Year,JerseyNum,Name,Position,Height,Weight,Major,Class,HomeTownHighSchool
0,2005,1,McElroy Colin,GK,6-5,NaN,NaN,Sr.,"Solana Beach, CA / Torrey Pines HS"
1,2005,1,Bryan Corbett,GK,6-2,NaN,NaN,Sr.,"Carmichael, CA / Rio Americano HS"
2,2005,1,David Miller,GK,6-0,NaN,NaN,Sr.,"Ventura, CA / Ventura HS"
3,2005,1,Jeremy Randall,GK,6-3,NaN,NaN,Jr.,"Lake Forest, CA / El Toro HS"
4,2005,2,Chris Finegold,2M,6-6,NaN,NaN,Sr.,"Palo Alto, CA / Palo Alto HS"

In [23]:
male_basketball_bio['Sport'] = 'Basketball'
male_soccer_bio['Sport'] = 'Soccer'
male_volleyball_bio['Sport'] = 'Volleyball'
male_waterpolo_bio['Sport'] = 'Water Polo'
female_basketball_bio['Sport'] = 'Basketball'
female_soccer_bio['Sport'] = 'Soccer'
female_volleyball_bio['Sport'] = 'Volleyball'
female_waterpolo_bio['Sport'] = 'Water Polo'

Put all datasets of male athelets bio into one

In [268]:
male_athelet_df = pd.concat([male_basketball_bio, male_soccer_bio, male_volleyball_bio, male_waterpolo_bio], axis=0)
male_athelet_df.shape[0]
male_basketball_bio.shape[0] + male_soccer_bio.shape[0] + male_volleyball_bio.shape[0] + male_waterpolo_bio.shape[0]
male_athelet_df['Sport'].unique()

190.3583180987203

Clean male athlete data by replacing null values in Weight to the mean of weight and drop athletes with null Major

In [274]:
mean_weight = male_athelet_df['Weight'].mean()
male_athelet_df['Weight'] = male_athelet_df['Weight'].fillna(mean_weight)
male_athelet_df = male_athelet_df.dropna(subset=['Major'])
male_athelet_df.shape[0]

638

Put all datasets of female atheletes bio into one

In [30]:
female_athelet_df = pd.concat([female_basketball_bio, female_soccer_bio, female_volleyball_bio, female_waterpolo_bio], axis=0)
female_athelet_df.shape[0]
female_basketball_bio.shape[0] + female_soccer_bio.shape[0] + female_volleyball_bio.shape[0] + female_waterpolo_bio.shape[0]
female_athelet_df['Sport'].unique()

array(['Basketball', 'Soccer', 'Volleyball', 'Water Polo'], dtype=object)

Clean female athlete data by replacing null values in Weight to the mean of weight and drop athletes with null Major

In [276]:
mean_weight = female_athelet_df['Weight'].mean()
female_athelet_df['Weight'] = female_athelet_df['Weight'].fillna(mean_weight)
female_athelet_df = female_athelet_df.dropna(subset=['Major'])
female_athelet_df.shape[0]

636

In [394]:
female_athelet_df["Height"].isna().sum()
#male_athelet_df["Height"].isna().sum()

0

## Dataset #2: UCSD Women’s and Men’s Athletics - Performance Statistics

Put all data with male basketball performance into one. Add 'Sport' and 'Year' columns.

In [37]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
male_basketball_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2023 Men's Basketball.xlsx")
male_basketball_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2022 Men's Basketball.xlsx")
male_basketball_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2021 Men's Basketball.xlsx")
male_basketball_performance_2020 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2020 Men's Basketball.xlsx")
male_basketball_performance_2019 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2019 Men's Basketball.xlsx")
male_basketball_performance_2018 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2018 Men's Basketball.xlsx")
male_basketball_performance_2017 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2017 Men's Basketball.xlsx")
male_basketball_performance_2016 = pd.read_excel("data/performance_data/excel/Men_s Basketball/2016 Men's Basketball.xlsx")

,Overall Record: 19-9 Conf: 13-3 Home: 13-1 Away: 6-7 Neutral: 0-1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,#,Player,NaN,GP-GS,MIN,NaN,AVG,NaN,FG FG-FGA,NaN,...,NaN,AVG,PF,DQ,A,TO,BLK,STL,PTS,AVG
1,4,"Pope, Bryce",NaN,28-28,991,NaN,35.4,NaN,181-431,NaN,...,111,4,29,0,48,34,4,27,508,18.1
2,13,"McGhie, Tyler",NaN,18-0,507,NaN,28.2,NaN,92-206,NaN,...,48,2.7,21,1,23,6,2,10,251,13.9
3,12,"Tait-Jones, Aniwaniwa",NaN,28-28,825,NaN,29.5,NaN,129-229,NaN,...,163,5.8,60,1,91,54,10,30,374,13.4
4,35,"Nwaokorie, Francis",NaN,28-28,878,NaN,31.4,NaN,106-234,NaN,...,143,5.1,77,3,23,39,21,19,323,11.5

In [79]:
male_basketball_performance_2016.columns
male_basketball_performance_2016.iloc[0]

Overall Record: 27-6   Conf: 17-3   Home: 15-3   Away: 9-3   Neutral: 3-0                      #
Unnamed: 1                                                                                Player
Unnamed: 2                                                                                   NaN
Unnamed: 3                                                                                 GP-GS
Unnamed: 4                                                                                   NaN
Unnamed: 5                                                                                   MIN
Unnamed: 6                                                                                   NaN
Unnamed: 7                                                                                   AVG
Unnamed: 8                                                                                   NaN
Unnamed: 9                                                                             FG FG-FGA
Unnamed: 10                                                                                  NaN
Unnamed: 11                                                                                  NaN
Unnamed: 12                                                                                  NaT
Unnamed: 13                                                                                  FG%
Unnamed: 14                                                                         3PT\n3FG-FGA
Unnamed: 15                                                                                  NaN
Unnamed: 16                                                                                  NaN
Unnamed: 17                                                                                 3FG%
Unnamed: 18                                                                            FT FT-FTA
Unnamed: 19                                                                                  FT%
Unnamed: 20                                                                                  OFF
Unnamed: 21                                                                  Rebounds DEF    TOT
Unnamed: 22                                                                                  NaN
Unnamed: 23                                                                                  AVG
Unnamed: 24                                                                                   PF
Unnamed: 25                                                                                   DQ
Unnamed: 26                                                                                    A
Unnamed: 27                                                                                   TO
Unnamed: 28                                                                                  BLK
Unnamed: 29                                                                                  STL
Unnamed: 30                                                                                  PTS
Unnamed: 31                                                                                  AVG
Sport                                                                                 Basketball
Year                                                                                        2016
Name: 0, dtype: object

In [84]:
male_basketball_performance_201.shape[1]

32

In [333]:
male_basketball_performance_2023['Sport'] = 'Basketball'
male_basketball_performance_2022['Sport'] = 'Basketball'
male_basketball_performance_2021['Sport'] = 'Basketball'
male_basketball_performance_2020['Sport'] = 'Basketball'
male_basketball_performance_2019['Sport'] = 'Basketball'
male_basketball_performance_2018['Sport'] = 'Basketball'
male_basketball_performance_2017['Sport'] = 'Basketball'
male_basketball_performance_2016['Sport'] = 'Basketball'
male_basketball_performance_2023['Year'] = 2023
male_basketball_performance_2022['Year'] = 2022
male_basketball_performance_2021['Year'] = 2021
male_basketball_performance_2020['Year'] = 2020
male_basketball_performance_2019['Year'] = 2019
male_basketball_performance_2018['Year'] = 2018
male_basketball_performance_2017['Year'] = 2017
male_basketball_performance_2016['Year'] = 2016
male_basketball_performance = pd.concat([male_basketball_performance_2023, male_basketball_performance_2022, male_basketball_performance_2021, male_basketball_performance_2020, male_basketball_performance_2019, male_basketball_performance_2018, male_basketball_performance_2017, male_basketball_performance_2016], axis=0)

clean basketball performance data by deleting irrelevant rows and columns

In [334]:
cols_with_nan_in_first_row = male_basketball_performance.iloc[0].isna()

columns_to_drop = cols_with_nan_in_first_row[cols_with_nan_in_first_row].index.tolist()

male_basketball_performance.drop(columns=columns_to_drop, inplace=True)

male_basketball_performance.columns = male_basketball_performance.iloc[0]
male_basketball_performance = male_basketball_performance.drop(male_basketball_performance.index[0])
male_basketball_performance.rename(columns={'Basketball': 'Sport', 2023: 'Year'}, inplace=True)
male_basketball_performance = male_basketball_performance.dropna(subset=['Player'])

In [335]:
male_basketball_performance = male_basketball_performance.drop(columns=['#'])

0
Player                 Pope, Bryce
GP-GS                        28-28
MIN                            991
AVG                           35.4
FG FG-FGA                  181-431
FG%                           0.42
3PT\n3FG-FGA                61-189
3FG%                         0.323
FT FT-FTA                   85-101
FT%                          0.842
OFF                             21
Rebounds DEF    TOT             90
AVG                              4
PF                              29
DQ                               0
A                               48
TO                              34
BLK                              4
STL                             27
PTS                            508
AVG                           18.1
Sport                   Basketball
Year                          2023
Name: 1, dtype: object

Put all data with male soccer performance into one. Add 'Sport' and 'Year' columns.

In [385]:
male_soccer_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2023 Men's Soccer.xlsx")
male_soccer_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2022 Men's Soccer.xlsx")
male_soccer_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2021 Men's Soccer.xlsx")
male_soccer_performance_2019 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2019 Men's Soccer.xlsx")
male_soccer_performance_2018 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2018 Men's Soccer.xlsx")
male_soccer_performance_2017 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2017 Men's Soccer.xlsx")
male_soccer_performance_2015 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2015 Men's Soccer.xlsx")
male_soccer_performance_2013 = pd.read_excel("data/performance_data/excel/Men_s Soccer/2013 Men's Soccer.xlsx")

In [386]:
male_soccer_performance_2023['Sport'] = 'Soccer'
male_soccer_performance_2022['Sport'] = 'Soccer'
male_soccer_performance_2021['Sport'] = 'Soccer'
male_soccer_performance_2019['Sport'] = 'Soccer'
male_soccer_performance_2018['Sport'] = 'Soccer'
male_soccer_performance_2017['Sport'] = 'Soccer'
male_soccer_performance_2015['Sport'] = 'Soccer'
male_soccer_performance_2013['Sport'] = 'Soccer'

In [387]:
def cleanSoccer(df):
    row_of_player, col_of_player = None, None

# Iterate over the DataFrame to find 'Player'
    for row_idx, row in df.iterrows():
        for col_idx, value in enumerate(row):
            if isinstance(value, str) and 'Player' in value:
                row_of_player, col_of_player = row_idx, col_idx
                break  # Stop the loop once 'Player' is found
        if row_of_player is not None:
            break  # Exit the outer loop if 'Player' has been found

    if row_of_player is not None and col_of_player is not None:
    # Get the column names starting from 'Player' up to the next 11 columns
        columns = df.columns[col_of_player:]
    
    # Select these columns for the entire DataFrame
        df = df.iloc[row_of_player:]
        df = df.loc[:, columns]

    cols_with_nan_in_first_row = df.iloc[0].isna()

    columns_to_drop = cols_with_nan_in_first_row[cols_with_nan_in_first_row].index.tolist()

    df.drop(columns=columns_to_drop, inplace=True)

    df.columns = df.iloc[0]
    df = df.drop(df.index[0])

    df = df.dropna()

    return df

In [388]:
male_soccer_performance_list = np.array([])
male_soccer_list = [male_soccer_performance_2023, male_soccer_performance_2022, male_soccer_performance_2021,male_soccer_performance_2019,male_soccer_performance_2018,male_soccer_performance_2017,male_soccer_performance_2015,male_soccer_performance_2013]
for df in male_soccer_list:
    
    male_soccer_performance_list = np.append(male_soccer_performance_list, cleanSoccer(df))

In [392]:
male_soccer_performance_list

array(['Iribarren, Inaki', 18, 11, ..., 0, '0-0', 'Soccer'], dtype=object)

In [186]:
male_soccer_performance.head()

4,Att.,# Player,GP,G,A,PTS,SH,SH%,SOG,SOG%,YC-RC,GW,PK-ATT,Sport,Year
5,138,"Iribarren, Inaki",18,11,0,22,44,0.25,18,0.409,2-0,2,0-0,Soccer,2023
6,183,"10 Allen, Alessandro",18,4,3,11,24,0.167,11,0.458,0-0,0,3-3,Soccer,2023
7,127,"23 Carvalho, Max",18,4,3,11,30,0.133,17,0.567,0-0,2,0-1,Soccer,2023
8,127,Team,2,2,0,4,0,0,0,0,0-0,0,0-0,Soccer,2023
9,593,"9 Arens, Brian",17,1,1,3,9,0.111,5,0.556,3-0,0,0-0,Soccer,2023

Put all data with male volleyball performance into one. Add 'Sport' and 'Year' columns.

In [53]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
male_volleyball_performance_2024 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2024 Men's Volleyball.xlsx")
male_volleyball_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2023 Men's Volleyball.xlsx")
male_volleyball_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2022 Men's Volleyball.xlsx")
male_volleyball_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2021 Men's Volleyball.xlsx")
male_volleyball_performance_2020 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2020 Men's Volleyball.xlsx")
male_volleyball_performance_2019 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2019 Men's Volleyball.xlsx")
male_volleyball_performance_2018 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2018 Men's Volleyball.xlsx")
male_volleyball_performance_2017 = pd.read_excel("data/performance_data/excel/Men_s Volleyball/2017 Men's Volleyball.xlsx")

In [54]:
male_volleyball_performance_2024['Sport'] = 'Volleyball'
male_volleyball_performance_2023['Sport'] = 'Volleyball'
male_volleyball_performance_2022['Sport'] = 'Volleyball'
male_volleyball_performance_2021['Sport'] = 'Volleyball'
male_volleyball_performance_2020['Sport'] = 'Volleyball'
male_volleyball_performance_2019['Sport'] = 'Volleyball'
male_volleyball_performance_2018['Sport'] = 'Volleyball'
male_volleyball_performance_2017['Sport'] = 'Volleyball'
male_volleyball_performance_2024['Year'] = 2024
male_volleyball_performance_2023['Year'] = 2023
male_volleyball_performance_2022['Year'] = 2022
male_volleyball_performance_2021['Year'] = 2021
male_volleyball_performance_2020['Year'] = 2020
male_volleyball_performance_2019['Year'] = 2019
male_volleyball_performance_2018['Year'] = 2018
male_volleyball_performance_2017['Year'] = 2017
male_volleyball_performance = pd.concat([male_volleyball_performance_2024,male_volleyball_performance_2023,male_volleyball_performance_2022,male_volleyball_performance_2021,male_volleyball_performance_2020,male_volleyball_performance_2019,male_volleyball_performance_2018,male_volleyball_performance_2017], axis=0)
male_volleyball_performance.shape[0]

515

In [393]:
male_volleyball_performance.head(10)

,"2024 UC San Diego Men's Volleyball\nOverall Statistics (as of Feb 23, 2024)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Sport,Year,"2023 UC San Diego Men's Volleyball\nOverall Statistics (as of Apr 20, 2023)","2022 UC San Diego Men's Volleyball\nOverall Statistics (as of May 27, 2022)","2021 UC San Diego Men's Volleyball\nOverall Statistics (as of Apr 25, 2021)","2020 University of California, San Diego Men's Volleyball\nOverall Statistics (as of Mar 11, 2020)","2019 Men's Volleyball\nOverall Statistics (as of Dec 3, 2019)","2018 Men's Volleyball\nOverall Statistics (as of Dec 3, 2019)","2017 Men's Volleyball\nOverall Statistics (as of Dec 3, 2019)"
0,Overall Record: 6-8 Conf: 1-0 Home: 2-3 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#,Player,NaN,SP,NaN,Attack\nK,K/S,NaN,NaN,E,...,PTS,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Wurl, Cameron",NaN,25,NaN,2,0.08,NaN,NaN,4,...,18.5,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Dyer, Gabriel",NaN,7,NaN,0,0,NaN,NaN,0,...,2,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"Lara, Sebastian",NaN,39,NaN,77,1.97,NaN,NaN,25,...,88.5,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,"Boyle, Evan",NaN,50,NaN,0,0,NaN,NaN,0,...,0,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,"Pravednikov, Leo",NaN,12,NaN,11,0.92,NaN,NaN,4,...,12.5,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,"Lim, Matthew",NaN,31,NaN,69,2.23,NaN,NaN,35,...,83,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,"Wiemelt, Leo",NaN,11,NaN,15,1.36,NaN,NaN,4,...,20,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,"Schellinger, Josh",NaN,42,NaN,64,1.52,NaN,NaN,33,...,81.5,Volleyball,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols_with_nan_in_first_row = male_volleyball_performance.iloc[0].isna()

columns_to_drop = cols_with_nan_in_first_row[cols_with_nan_in_first_row].index.tolist()

male_basketball_performance.drop(columns=columns_to_drop, inplace=True)

male_basketball_performance.columns = male_basketball_performance.iloc[0]
male_basketball_performance = male_basketball_performance.drop(male_basketball_performance.index[0])
male_basketball_performance.rename(columns={'Basketball': 'Sport', 2023: 'Year'}, inplace=True)
male_basketball_performance = male_basketball_performance.dropna(subset=['Player'])

Put all data with male water polo performance into one. Add 'Sport' and 'Year' columns.

In [55]:
male_waterpolo_performance_2023 = pd.read_excel("data/performance_data/excel/Men_s WaterPolo/2023 Men's Water Polo.xlsx")
male_waterpolo_performance_2022 = pd.read_excel("data/performance_data/excel/Men_s WaterPolo/2022 Men's Water Polo.xlsx")
male_waterpolo_performance_2021 = pd.read_excel("data/performance_data/excel/Men_s WaterPolo/2021 Men's Water Polo.xlsx")

In [69]:
male_waterpolo_performance_2023['Sport'] = 'Water Polo'
male_waterpolo_performance_2022['Sport'] = 'Water Polo'
male_waterpolo_performance_2021['Sport'] = 'Water Polo'
male_waterpolo_performance_2023['Year'] = 2023
male_waterpolo_performance_2022['Year'] = 2022
male_waterpolo_performance_2021['Year'] = 2021
male_waterpolo_performance = pd.concat([male_waterpolo_performance_2023,male_waterpolo_performance_2022,male_waterpolo_performance_2021], axis=0)
male_waterpolo_performance.shape[0]

236

Put all data with female basketball performance into one. Add 'Sport' and 'Year' columns.

In [60]:
female_basketball_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2023 Women_s Basketball.xlsx")
female_basketball_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2022 Women_s Basketball.xlsx")
female_basketball_performance_2021 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2021 Women_s Basketball.xlsx")
female_basketball_performance_2020 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2020 Women_s Basketball.xlsx")
female_basketball_performance_2019 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2019 Women_s Basketball.xlsx")
female_basketball_performance_2018 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2018 Women_s Basketball.xlsx")
female_basketball_performance_2017 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2017 Women_s Basketball.xlsx")
female_basketball_performance_2016 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2016 Women_s Basketball.xlsx")
female_basketball_performance_2015 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2015 Women_s Basketball.xlsx")
female_basketball_performance_2014 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2014 Women_s Basketball.xlsx")
female_basketball_performance_2013 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2013 Women's Basketball.xlsx")
female_basketball_performance_2012 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2012 Women's Basketball.xlsx")
female_basketball_performance_2011 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2011 Women's Basketball.xlsx")
female_basketball_performance_2010 = pd.read_excel("data/performance_data/excel/Women_s Basketball/2010 Women's Basketball.xlsx")

In [61]:
female_basketball_performance_2023['Sport'] = 'Basketball'
female_basketball_performance_2022['Sport'] = 'Basketball'
female_basketball_performance_2021['Sport'] = 'Basketball'
female_basketball_performance_2020['Sport'] = 'Basketball'
female_basketball_performance_2019['Sport'] = 'Basketball'
female_basketball_performance_2018['Sport'] = 'Basketball'
female_basketball_performance_2017['Sport'] = 'Basketball'
female_basketball_performance_2016['Sport'] = 'Basketball'
female_basketball_performance_2015['Sport'] = 'Basketball'
female_basketball_performance_2014['Sport'] = 'Basketball'
female_basketball_performance_2013['Sport'] = 'Basketball'
female_basketball_performance_2012['Sport'] = 'Basketball'
female_basketball_performance_2011['Sport'] = 'Basketball'
female_basketball_performance_2010['Sport'] = 'Basketball'
female_basketball_performance_2023['Year'] = 2023
female_basketball_performance_2022['Year'] = 2022
female_basketball_performance_2021['Year'] = 2021
female_basketball_performance_2020['Year'] = 2020
female_basketball_performance_2019['Year'] = 2019
female_basketball_performance_2018['Year'] = 2018
female_basketball_performance_2017['Year'] = 2017
female_basketball_performance_2016['Year'] = 2016
female_basketball_performance_2015['Year'] = 2015
female_basketball_performance_2014['Year'] = 2014
female_basketball_performance_2013['Year'] = 2013
female_basketball_performance_2012['Year'] = 2012
female_basketball_performance_2011['Year'] = 2011
female_basketball_performance_2010['Year'] = 2010
female_basketball_performance = pd.concat([female_basketball_performance_2023,female_basketball_performance_2022,female_basketball_performance_2021,female_basketball_performance_2020,female_basketball_performance_2019,female_basketball_performance_2018,female_basketball_performance_2017,female_basketball_performance_2016,female_basketball_performance_2015,female_basketball_performance_2014,female_basketball_performance_2013,female_basketball_performance_2012,female_basketball_performance_2011,female_basketball_performance_2010], axis=0)
female_basketball_performance.shape[0]

1378

Put all data with female soccer performance into one. Add 'Sport' and 'Year' columns.

In [63]:
female_soccer_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2023 Women_s Soccer.xlsx")
female_soccer_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2022 Women_s Soccer.xlsx")
female_soccer_performance_2021 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2021 Women_s Soccer.xlsx")
female_soccer_performance_2019 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2019 Women_s Soccer.xlsx")
female_soccer_performance_2018 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2018 Women_s Soccer.xlsx")
female_soccer_performance_2017 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2017 Women_s Soccer.xlsx")
female_soccer_performance_2016 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2016 Women_s Soccer.xlsx")
female_soccer_performance_2015 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2015 Women_s Soccer.xlsx")
female_soccer_performance_2014 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2014 Women_s Soccer.xlsx")
female_soccer_performance_2013 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2013 Women's Soccer.xlsx")
female_soccer_performance_2012 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2012 Women's Soccer.xlsx")
female_soccer_performance_2011 = pd.read_excel("data/performance_data/excel/Women_s Soccer/2011 Women's Soccer.xlsx")

In [64]:
female_soccer_performance_2023['Sport'] = 'Soccer'
female_soccer_performance_2022['Sport'] = 'Soccer'
female_soccer_performance_2021['Sport'] = 'Soccer'
female_soccer_performance_2019['Sport'] = 'Soccer'
female_soccer_performance_2018['Sport'] = 'Soccer'
female_soccer_performance_2017['Sport'] = 'Soccer'
female_soccer_performance_2016['Sport'] = 'Soccer'
female_soccer_performance_2015['Sport'] = 'Soccer'
female_soccer_performance_2014['Sport'] = 'Soccer'
female_soccer_performance_2013['Sport'] = 'Soccer'
female_soccer_performance_2012['Sport'] = 'Soccer'
female_soccer_performance_2011['Sport'] = 'Soccer'
female_soccer_performance_2023['Year'] = 2023
female_soccer_performance_2022['Year'] = 2022
female_soccer_performance_2021['Year'] = 2021
female_soccer_performance_2019['Year'] = 2019
female_soccer_performance_2018['Year'] = 2018
female_soccer_performance_2017['Year'] = 2017
female_soccer_performance_2016['Year'] = 2016
female_soccer_performance_2015['Year'] = 2015
female_soccer_performance_2014['Year'] = 2014
female_soccer_performance_2013['Year'] = 2013
female_soccer_performance_2012['Year'] = 2012
female_soccer_performance_2011['Year'] = 2011
female_soccer_performance = pd.concat([female_soccer_performance_2023,female_soccer_performance_2022,female_soccer_performance_2021,female_soccer_performance_2019,female_soccer_performance_2018,female_soccer_performance_2017,female_soccer_performance_2016,female_soccer_performance_2015,female_soccer_performance_2014,female_soccer_performance_2013,female_soccer_performance_2012,female_soccer_performance_2011], axis=0)
female_soccer_performance.shape[0]

838

Put all data with female volleyball performance into one. Add 'Sport' and 'Year' columns.

In [65]:

female_volleyball_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2023 Women_s Volleyball.xlsx")
female_volleyball_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2022 Women_s Volleyball.xlsx")
female_volleyball_performance_2021 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2021 Women_s Volleyball.xlsx")
female_volleyball_performance_2019 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2019 Women_s Volleyball.xlsx")
female_volleyball_performance_2018 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2018 Women_s Volleyball.xlsx")
female_volleyball_performance_2017 = pd.read_excel("data/performance_data/excel/Women_s Volleyball/2017 Women_s Volleyball.xlsx")

In [66]:
female_volleyball_performance_2023['Sport'] = 'Volleyball'
female_volleyball_performance_2022['Sport'] = 'Volleyball'
female_volleyball_performance_2021['Sport'] = 'Volleyball'
female_volleyball_performance_2019['Sport'] = 'Volleyball'
female_volleyball_performance_2018['Sport'] = 'Volleyball'
female_volleyball_performance_2017['Sport'] = 'Volleyball'
female_volleyball_performance_2023['Year'] = 2023
female_volleyball_performance_2022['Year'] = 2022
female_volleyball_performance_2021['Year'] = 2021
female_volleyball_performance_2019['Year'] = 2019
female_volleyball_performance_2018['Year'] = 2018
female_volleyball_performance_2017['Year'] = 2017
female_volleyball_performance = pd.concat([female_volleyball_performance_2023,female_volleyball_performance_2022,female_volleyball_performance_2021,female_volleyball_performance_2019,female_volleyball_performance_2018,female_volleyball_performance_2017], axis=0)
female_volleyball_performance.shape[0]

415

Put all data with female water polo performance into one. Add 'Sport' and 'Year' columns.

In [67]:
female_waterpolo_performance_2024 = pd.read_excel("data/performance_data/excel/Women_s WaterPolo/2024 Women's Water Polo.xlsx")
female_waterpolo_performance_2023 = pd.read_excel("data/performance_data/excel/Women_s WaterPolo/2023 Women's Water Polo.xlsx")
female_waterpolo_performance_2022 = pd.read_excel("data/performance_data/excel/Women_s WaterPolo/2022 Women's Water Polo.xlsx")

In [68]:
female_waterpolo_performance_2023['Sport'] = 'Water Polo'
female_waterpolo_performance_2022['Sport'] = 'Water Polo'
female_waterpolo_performance_2024['Sport'] = 'Water Polo'
female_waterpolo_performance_2023['Year'] = 2023
female_waterpolo_performance_2022['Year'] = 2022
female_waterpolo_performance_2024['Year'] = 2024
female_waterpolo_performance = pd.concat([female_waterpolo_performance_2023,female_waterpolo_performance_2022,female_waterpolo_performance_2024], axis=0)
female_waterpolo_performance.shape[0]

205

In [ ]:
male_basketball_performance.columns

Index(['Overall Record: 19-9   Conf: 13-3   Home: 13-1   Away: 6-7   Neutral: 0-1',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Sport', 'Year',
       'Overall Record: 10-20   Conf: 5-13   Home: 4-10   Away: 6-9   Neutral: 0-1',
       '2021-2022 UC San Diego Men's Basketball\nOverall Statistics (as of Mar 5, 2022)',
       '2020-2021 UC San Diego Men's Basketball\nOverall Statistics (as of Mar 11, 2021)',
       'Overall Record: 30-1   Conf: 21-1   Home: 14-1   Away: 14-0   Neutral: 2-0',
       'Unnamed: 29',
       'Overall Record: 26-8   Conf: 17-5   Home: 14-1   Away: 7-6   Neutral: 5-1',
       'Unnamed: 30', 'Unnamed: 31',
       'Overall Record: 21-11   Conf: 15-7   Home: 8-4   Away: 11-4   Neutral: 2-3',
       'Overall Record: 27-6   Conf: 17-3   Home: 15-3   Away: 9-3   Neutral: 3-0'],
      dtype='object')

# Ethics & Privacy

All of the data used in this project is publicly available information found on UCSD’s official athletics website. Nowhere in UCSD’s athletics website’s Terms of Service (which is run by SIDEARM Sports) or in any other of UCSD’s websites does it prohibit the use of this publicly available data. Furthermore, we have reached out to and met with UCSD Athletics to discuss our project. In our meeting with them, we ensured our practices were ethical and data used was accurate. The data used in our analysis is quantitative, directly from UCSD, thus there will be no room for personal biases. A few sports lacked the factors necessary for our analysis, so we have omitted them, only using complete data. Additionally, we will omit the names of athletes in our project as it is irreverent to the task we seek to accomplish.

An unintended consequence of our analysis may be our audience’s interpretation of our results negatively impacting their choice of university. If the audience views the factors we have deemed significant as unfit or unrealistic for them and their college experiences, then they may opt for another university elsewhere. Even those who attend UCSD may find the results to be negatively impactful to their emotional wellbeing if they do not believe they fit any of the factors found to be significant, therefore ruining their dreams of playing college sports.

Unfortunately, there is nothing we can do about these unintended consequences. While we would love for there to be no potential negative effects our analysis may cause, these unintended consequences are ultimately based on our audience’s interpretation of our results and are therefore out of our control.

# Team Expectations

* Meet weekly on Zoom (usually on weekends)
* Meet up in person every other week
* Communicate throughout the week in our Instagram group chat to give project updates
* Respond to each other's messages within 24 hours

# Project Timeline Proposal


| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/7  |  3 PM | Brainstorm research topics and ideas for a research question  | Pick a research topic and question | 
| 2/8  |  5 PM |  Do background research on topic; write background, data, and ethics and privacy sections  | Write research question and hypothesis sections and finalize the rest of our project proposal | 
| 2/20  | 7 PM  | Research relevant data sets  | Finalize project data sets; wrangle data sets into a tidy format   |
| 2/24  | 7 PM  | Write data checkpoint #1 sections | Review/edit checkpoint #1 sections; make sure data is tidy   |
| 2/29  | 7 PM  | Review data | Conduct EDA |
| 3/9  | 7 PM  | Write data checkpoint #2 sections| Review/edit checkpoint #2 sections; go over EDA to make sure we're all on the same page |
| 3/14  | 7 PM  | Work on final video logistics - how to present and designating roles | Film final video |
| 3/19  | Before 11:59 PM  | Review entire project; make final edits | Turn in final report and final video |